@model DutyFree.Models.AdminViewModel

@{
    ViewBag.Title = "Admin panel";
    Layout = "_Layout";
}

<section class="hero2">
    <div class="container">
        <h1 class="display-4 text-white text-center"><strong>Správa produktů</strong></h1>
    </div>
</section>



<div class="container">
    <div id="productFormContainer"></div>

    <!--Add icon-->
    <div class="addIcon">
        <svg xmlns="http://www.w3.org/2000/svg" id="btnAdd" cursor="pointer" width="30" height="30" fill="#FF4401" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
        </svg>
    </div>
</div>

<div class="container">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th>Produkt</th>
            <th>Obrázek</th>
            <th>Cena za ks</th>
            <th>Aktuální množství</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td class="tdName">@product.Name</td>
                <td class="tdImage"><img src="@product.ImageUrl"></td>
                <td class="tdPrice">@product.Price</td>
                <td class="tdQuantity">@product.Quantity</td>
                <input type="hidden" name="MaxPrice" value="@product.ProductId"/>
                <td class="buttons tdAction" style="display: flex; justify-content: space-evenly;">
                    <svg xmlns="http://www.w3.org/2000/svg" cursor="pointer" width="25" height="25" fill="#FF4401" class="bi bi-wrench btn-edit" viewBox="0 0 16 16" style="transform: scale(0.8);">
                        <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" cursor="pointer" width="25" height="25" fill="#FF4401" class="bi bi-x btn-delete" viewBox="0 0 16 16" style="width: 25px; height: 25px;">
                        <path d="M4.354 4.354a.5.5 0 0 1 .708 0L8 7.293l2.938-2.939a.5.5 0 1 1 .708.708L8.707 8l2.939 2.938a.5.5 0 0 1-.708.708L8 8.707l-2.938 2.939a.5.5 0 0 1-.708-.708L7.293 8 4.354 5.062a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var emptyNewRow = "<tr class='trNewRow'>";
    emptyNewRow += '<td class="tdName">';
    emptyNewRow += '<input type="text" class="form-control name rounded-0" placeholder="Název" name="Name" />';
    emptyNewRow += '</td>';
    emptyNewRow += '<td class="tdImage">';
    emptyNewRow += '<input type="file" class="form-control image rounded-0" name="Image" />';
    emptyNewRow += '</td>';
    emptyNewRow += '<td class="tdPrice">';
    emptyNewRow += '<input type="number" class="form-control price rounded-0" name="Price" placeholder="Cena" />';
    emptyNewRow += '</td>';
    emptyNewRow += '<td class="tdQuantity">';
    emptyNewRow += '<input type="number" class="form-control quantity rounded-0" name="Quantity" placeholder="Aktuální množství" />';
    emptyNewRow += '</td>';
    emptyNewRow += '<td class="tdCategory">';
    emptyNewRow += '<select class="form-control category rounded-0" name="Category">';
    emptyNewRow += '<option selected>Vyberte kategorii</option>';
    emptyNewRow += '<option value="#Svačina">#Svačina</option>';
    emptyNewRow += '<option value="#Sladké">#Sladké</option>';
    emptyNewRow += '<option value="#Slané">#Slané</option>';
    emptyNewRow += '<option value="#Nápoje">#Nápoje</option>';
    emptyNewRow += '<option value="#Zmrzlina">#Zmrzlina</option>';
    emptyNewRow += '</select>';
    emptyNewRow += '</td>';
    emptyNewRow += '</tr>';
    emptyNewRow += '<tr class="trNewRow">';
    emptyNewRow += '<td class="tdAction" colspan="5">';
    emptyNewRow += '<div class="form-check d-inline-block">';
    emptyNewRow += '<input class="form-check-input" type="checkbox" id="novinka" name="Novinka">';
    emptyNewRow += '<label class="form-check-label" for="novinka">Novinka</label>';
    emptyNewRow += '</div>';
    emptyNewRow += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
    emptyNewRow += '<div class="form-check d-inline-block">';
    emptyNewRow += '<input class="form-check-input" type="checkbox" id="sleva" name="Sleva">';
    emptyNewRow += '<label class="form-check-label" for="sleva">Sleva</label>';
    emptyNewRow += '</div>';
    emptyNewRow += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
    emptyNewRow += '<div class="btn-group">';
    emptyNewRow += '<button type="submit" class="btn btn-success btn-save rounded-0" asp-controller="Products" asp-action="Insert" style="margin-right:20px">Uložit</button>';
    emptyNewRow += ' <button class="btn btn-success btn-cancel rounded-0">Zahodit</button>';
    emptyNewRow += '</div>';
    emptyNewRow += '</td>';
    emptyNewRow += '</tr>';

    var rowButtons = '<svg xmlns="http://www.w3.org/2000/svg" cursor="pointer" width="25" height="25" fill="#FF4401" class="bi bi-wrench btn-edit" viewBox="0 0 16 16" style="transform: scale(0.8)"><path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"></path></svg> <svg xmlns="http://www.w3.org/2000/svg" cursor="pointer" width="25" height="25" fill="#FF4401" class="bi bi-x" onclick="btn-delete" viewBox="0 0 16 16" style="width: 25px; height: 25px;"><path d="M4.354 4.354a.5.5 0 0 1 .708 0L8 7.293l2.938-2.939a.5.5 0 1 1 .708.708L8.707 8l2.939 2.938a.5.5 0 0 1-.708.708L8 8.707l-2.938 2.939a.5.5 0 0 1-.708-.708L7.293 8 4.354 5.062a.5.5 0 0 1 0-.708z"></path></svg></labe>';
    var rowUpdateButtons = '<button type="submit" class="btn btn-success btn-save" asp-controller="Products" asp-action="Edit">Uložit</button> <button class="btn btn-danger btn-cancel">Zahodit</button>';

    $(document).ready(function () {
        $("#btnAdd").click(function () {
            if ($("table tbody").children().children().length == 1) {
                $("table tbody").html("");
            }
            $("table tbody").append(emptyNewRow);
        });

        $('table tbody').on('click', '.btn-save', function () {
            const name = $(this).parent().parent().find(".name").val();
            $(this).parent().parent().find(".tdName").html(name);
            const image = $(this).parent().parent().find(".image").val();
            $(this).parent().parent().find(".tdImage").html(image);
            const price = $(this).parent().parent().find(".price").val();
            $(this).parent().parent().find(".tdPrice").html(price);
            const quantity = $(this).parent().parent().find(".quantity").val();
            $(this).parent().parent().find(".tdQuantity").html(quantity);
            $(this).parent().parent().find(".tdAction").html(rowButtons);
            
            var f = {};
            var data = { name: name, price: price, quantity: quantity };
            console.log(name, price, quantity)
            f.url = '@Url.Action("Insert", "Products")';
            f.type = "POST";
            f.dataType = "json";
            f.data = $.param(data);
            f.contentType = "application/x-www-form-urlencoded";
            f.success = function (response) {
                if (response.success) {
                    console.log("success: " + response.message);
                } else {
                    console.log("failed");
                }
            };
            f.error = function (response) {
                console.log("failed");
            };
            $.ajax(f);
        });
        
        $('table tbody').on('click', '.btn-delete', function () {
            $(this).parent().parent().remove();
        });

        $('table tbody').on('click', '.btn-cancel', function () {
            $(this).parent().parent().remove();
        });

        $('table tbody').on('click', '.btn-edit', function () {
            const name = $(this).parent().parent().find(".tdName").html();
            $(this).parent().parent().find(".tdName").html("<input type='text' value='" + name + "' class='form-control name rounded-0' placeholder='Název'/>");

            const image = $(this).parent().parent().find(".tdImage").html();
            $(this).parent().parent().find(".tdImage").html("<input type='file' value='" + image + "' class='form-control image rounded-0'/>");

            const price = $(this).parent().parent().find(".tdPrice").html();
            $(this).parent().parent().find(".tdPrice").html("<input type='number' value='" + price + "' class='form-control price rounded-0'/>");

            const quantity = $(this).parent().parent().find(".tdQuantity").html();
            $(this).parent().parent().find(".tdQuantity").html("<input type='number' value='" + quantity + "' class='form-control quantity rounded-0'/>");

            $(this).parent().parent().find(".tdAction").html(rowUpdateButtons);
        });
    });
</script>

<style>
    ::selection {
        background-color: #FF4401;
        color: white;
    }
    
    
    .addIcon {
        margin-top: 20px;
        margin-left: 87%;
    }


    .hero2 {
        background-image: url('https://media.discordapp.net/attachments/1107599847562952794/1107974604867244072/photo-login.png?width=1600&height=842');
        background-size: cover;
        background-position: center;
        border-bottom: 6px solid #FF4401;
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: center;
    }
    
    .btn-save
    {
        background-color: #FF4401;
        color: white;
        border-color: #FF4401;
        border-radius: 0;
    }
    .btn-save:hover
    {
        background-color: white;
        color: #FF4401;
        border-color: #FF4401;
    }  
    .btn-cancel
    {
        background-color: white;
        color: #FF4401;
        border-color: #FF4401;
        border-radius: 0;
    } 
    .btn-cancel:hover
    {
        background-color: #FF4401;
        color: white;
        border-color: white;
    }  
</style>